:host {
  display: block;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.pv-toolbar {
  gap: 16px;
}

.pv-title {
  flex: 1 1 auto;
}

.active-nav-item {
  background-color: lightgray;
}

.pv-sidenav-container {
  height: 100%;
}

.pv-app-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pv-page-content-wrapper {
  flex: 1 1 0;
  overflow: auto;
}
