<mat-sidenav-container [hasBackdrop]="true" class="pv-sidenav-container">
  <mat-sidenav #drawer [mode]="'over'">
    <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active-nav-item" (click)="drawer.close()"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matListItemIcon>home</mat-icon>
          Home/About
        </a>
        <a mat-list-item routerLink="/list" routerLinkActive="active-nav-item" (click)="drawer.close()">
          <mat-icon matListItemIcon>list</mat-icon>
          List
        </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="pv-app-content-wrapper">
      <mat-toolbar color="primary" class="pv-toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="pv-title">Personal Vocabulary</span>
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <div class="pv-page-content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
