<h1>Personal Vocabulary</h1>

<p>I just wanted to create my own app to manage words and phrases, which I would like to remember to improve my knowledge of foreign languages.
  Some time ago I used the Lingua Leo and I liked it, but with groving it become too complex to use it (for me). I liked that I was able to collect word during my everyday activity and with ability to train them in a few ways when I have free time.</p>
<p>From the beginning it should allow to add words and their translation manually and store them only in current browser. But in future I want to add synchronization with cloud storage, so we can use the app accross devices. After that I want to create extensions for browsers to add words from growser. I believe I will add more features, so it was a minimum plan for nearest time.</p>
